body {
    margin: 0;
    padding: 0;
}


.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 20px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.success {
    background-color: limegreen;
}

.danger {
    background-color: red;
}

.formcontainer {
    margin-top: 100px;
    align-self: center;
}

.form {
    background-color: #ddd;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form .adduser {
    font-family: Arial;
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
}

.adduser p {
    font-weight: 500;
    color: white;
}

.form label {
    align-self: center;
    margin: 25px 0 25px;
    font-family: Arial;
    font-size: 20px;
}

.form input {
    width: 75%;
    align-self: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 20px;
    border: none;
}

.form input:focus {
    background-color: white;
    transition: .3s;
    border: none;
    outline: none;
}

.form button {
    width: 100px;
    height: 50px;
    align-self: center;
    margin-bottom: 15px;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 17px;
}

.a {
    padding: 12px 18px 12px 18px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.a:visited {
    color: white;
}

.edit {
    background-color: dodgerblue;
}

.delete {
    background-color: red;
}



